.header{
  display:flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.navbar{
  display: flex;
  gap: 15px;
  
}

.nav-link{
  text-decoration: none;
  color: #333
}

.hero{
  height: 90vh;
  display: flex;
}
.hero-text{
  width:50%;
  display: flex;
  justify-content: center;
  
  flex-direction: column;
}
.hero-image{
  width: 50%;
}
.food-plate{
  width: 80% !important;
  height: auto !important;
}
.hero-container{
  background-image: url('https://cafeu.vercel.app/_next/static/media/banner-bg.563b99ab.jpg');
  padding: 20px;
}
body, html{
  margin: 0;
  padding:0;
}
.secondary-text{
  font-family: 'nunito sans';
  color: #c33;
  font-size: 23px;
  font-weight: 700;
  margin: 7px;
}

.hero-main-text{
  font-size: 40px;
  font-weight: 800;
  margin: 7px;
  color: #292929;
}
.highlighted{
  text-decoration: underline;
  color: #c33;
}

.btn{
  padding: 12px;
  outline: none;
  border:none;
  margin: 10px;
  
}
.btn-container{
  display: flex;
}

.primary-hero-btn{
  background-color: #c33;
  color: #fff;
  border-radius: 6px;
}

.secondary-hero-btn{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-icon{
  color: #c33;
  font-size: 22px;
}
.mobile-navbar{
  display: block;
  z-index:100;
}
.menu-btn{
  z-index: 999;
}
.box-container{
  display: flex;
  padding:20px;
  justify-content: space-evenly;
}
.box{
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: 1px 1px #d9d7d7;
  flex-direction: column;
  width: 20%;
}
.newsletter{
  display: flex;
  background-image: url('https://cafeu.vercel.app/_next/static/media/ad-ban-bg.b22b5bc3.png');
  
  position:relative;
}
.newsletter-left, .newsletter-right{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.newsletter-left h4{
  color: #fff;
  font-size: 28px;
  z-index: 999;
}
.newsletter-left p{
  z-index: 999;
  color: #fff;
}
.input-group{
  z-index: 999;
}
.overlay{
  background-color: #000;
  position:absolute;
  opacity:0.7;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

input{
  width: 200px;
  padding:15px;
  outline: none;
}
.news-submit{
  background-color: #c33;
  color: #fff;
  border: none;
  padding:  15px;
}

.about-left, .about-right{
    width: 50%;
    padding: 20px;
}
.about{
  display: flex;
  justify-content: center;
  height: 30vh;
  margin: 50px;
  gap: 2;
}
.about-image{
  width: 100%;
  height: auto
}
.menu-btn{
  display:none;
}

@media screen and (max-width: 480px){
  .navbar{
    display: none;
  }
  .hero-container{
    padding: 20px;
    padding-bottom: 100px;
  }
  .logo{
    width: 100px !important;
  }
  .hero-text{
    width:100%;
    display: block;
    
  }
  .hero{
    display:block;
    padding-top:40px ;
  }
  .hero-image{
    width: 100%;
  }
  .secondary-text{
    font-size: 19px;
    text-align: center;
  }
  .hero-main-text{
    font-size: 30px;
    text-align: center;
  }
  .hero-paragraph{
    text-align: center;
    font-size:16px;
  }

  .button-container{
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-navbar{
    background-color: #fff;
    position: fixed;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    top:0;
    padding: 20px;
    text-align: center;
    right: 0;
  }

  .box-container{
    flex-direction: column;
    padding: 10px 50px;
    margin-top: 50px;
    
  }
  .box{
    width: 100%;
    margin: 10px;

  }
  .menu-btn{
    display:block;
  }
}

