.container{
    background-color: bisque;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 
 .form{
     margin-top: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     flex-direction: column;
 }
 
 .formControl{
     width: 100%;
     padding: 10px;
     border-radius: 10px;
     margin-bottom: 10px;
 }
 
 .btn2{
     padding: 10px 20px;
     border: 0;
     background-color: greenyellow;
     color: black;
     border-radius: 10px;
 }
 .err{
     text-align: center;
     background-color: rgb(208, 86, 86);
     color:white;
     padding: 10px;
     border-radius: 10px;
 }
 